/* general styling */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding: 30px;
  background-image: url('../img/natural-pattern.png');
}
/* HEADER */
header{

    height: 400px;
    margin-bottom: 20px;
}
header .img-header{
  background-image: url("../img/natural-header.jpg");
  height: 350px;
  border: 5px solid white;
  background-size: cover;

  text-align: center;
}
header div img {
    width: 30%;
}
header div h2{
    color:white;
}
.header-bar{
    background-color: slategray;
    height: 50px;
}
/* MAIN */
main{
    height: 500px;
    margin-bottom: 20px;
}
main::after{
  display: table;
  content: '';
  clear: both;
}
main section{
    background-color: fuchsia;
    width: 50%;
    height: 500px;
    float: left;
}

/* ASIDE */
main aside{
    height: 200px;
    width: 22%;
    float: left;
}
.left{
    margin-right:3%;
    background-color: deeppink;
}
.right{
    margin-left:3%;
    height: 100%;
}
.top-div{
    height: 240px;
    margin-bottom: 20px;
    background-color: orange;
}
.bottom-div{
    height: 240px;
    background-color: orange;
}

/* FOOTER */
footer{
    background-color: gold;
    height: 100px;
}
